.heading-section {
    
    background: linear-gradient(to right, rgb(2,228,171), rgb(74,215,240));
    padding: 100px;
    padding-bottom: 150px;
    
}

h1.title {
    font-weight: bold;
   color: white;
   text-shadow: 0px 1px 2px rgba(black, 0.2);
}

.container {
    max-width: 80%;
}

.add-todo-box {
    margin-top: -68px;
    padding: 25px;
    border: 1px solid black;
    border-radius: 4px;
    background: white;
    box-shadow: 0 4px 12px rgba(black, 0.08);
}

.todo-item {
  display: flex;
align-items: center;
position: relative;

cursor: pointer;


padding: 35px 15px;
  font-size: 18px;

  border-bottom: 1px solid #f2f3f5;

  &.completed {
      color: #aaa;
  }


}

.todo-item .check-box {
    display: flex;
    flex-shrink: 0;
    border: 2px #eee solid;
    border-radius: 50%;

    height: 28px;
    width: 28px;
    margin-right: 20px;


    transition: background-color 0.2s;

    mat-icon {
       font-size: 20px; 
       text-align: center;
       align-items: center;
       color: #333;


       opacity: 0;

       transition: opacity 0.2s;
    }

}

.todo-item:hover .check-box {
    background: #eee;
    mat-icon {
        opacity: 0.28;
    }
}


.todo-item.completed .check-box {
    background: rgb(11,223,170);
    
    border-color: rgb(11,223,170);

    mat-icon {
        opacity: 1;
        
    }
}

.todo-item .todo-controls-box {
  position: absolute;
  bottom: 0;
  right: 5px;

  display: flex;
  // hide by default
  opacity: 0;
  visibility: hidden;
  transform: translateY(2px);


  transition: opacity 0.2s, visibility 0.2s;

}

.todo-item:hover .todo-controls-box{
   opacity: 1;
   visibility: visible;
transform: translateY(0);
   
  transition-delay: 0.4s;
   
}

.todo-controls-box .todo-control-button {
    background: #f5f7f8;

    border-radius: 7px;
    
    padding: 0px 10px;

    mat-icon {
        font-size: 20px;
        color: #555;
    }

    &:hover {
        background: #eee;
        mat-icon {
            color: #333;
        }
    }

    &:active {
        background: #e5e7e8;
    }

    &:first-of-type {
      border-top-left-radius: 7px;
    }
    &:last-of-type {
      border-top-right-radius: 7px;
    }
}

.todo-controls-box .todo-control-button.is-danger:active mat-icon {
    color: rgb(155, 27, 27);
}