<div
  class="todo-item"
  (click)="onTodoClicked()"
  [class.completed]="todo.completed"
>
  <div class="check-box">
    <mat-icon id="checkicon">check</mat-icon>
  </div>
  <div class="todo-text">
    {{ todo.text }}
  </div>
  <div class="todo-controls-box" (click)="$event.stopPropagation()">
    <div class="todo-control-button" (click)="onEditClicked()">
      <mat-icon>edit</mat-icon>
    </div>
    <div class="todo-control-button is-danger">
      <mat-icon>delete</mat-icon>
    </div>
  </div>
</div>
