<h1 class="titel">Edit Todo</h1>
<div mat-dialog-content>
  <form #form="ngForm" (ngSubmit)="onFormSubmit(form)">
    <div class="field">
      <div class="control">
        <input
          required
          minlength="2"
          type="text"
          class="input"
          #todoTextField="ngModel"
          [ngModel]="todo.text"
          name="text"
          placeholder="Type Todo text here"
        />
      </div>
      <div *ngIf="todoTextField.invalid">
        <p class="help is-danger" *ngIf="todoTextField.hasError('required')">
          Please eneter the text of your todo
        </p>
        <p class="help is-danger" *ngIf="todoTextField.hasError('minlength')">
          Length of todo must be 2 characters
        </p>
      </div>
    </div>
    <br />

    <div class="field is-grouped is-grouped-right">
      <div class="control">
        <button type="button" class="button is-light" (click)="close()">
          Cancel
        </button>
      </div>
      <div class="control">
        <button type="submit" class="button alt-gradient-button">
          <mat-icon>save</mat-icon>Save
        </button>
      </div>
    </div>
  </form>
</div>
