
@import '../node_modules/bulma/bulma.sass';


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.alt-gradient-button {
    background: linear-gradient(to right, (rgb(236,72,140), rgb(240,54,82)));

    border: none;
    color: white;
    font-weight: 600;
}